.containerSectionEdu {
  background: #fff;
  padding: 1.5625rem 0;
}
article {
  background: #121212;
  margin: 0.625rem;
  padding: 0.9375rem 0.3125rem;
}
h3 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 3.125rem;
  font-size: 1.75rem;
}
.containerTitleEducation {
  display: flex;
  justify-content: space-between;
}
h4 {
  color: #ff0081;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
li {
  color: #fff;
}
.imgLogoDesktop {
  display: none;
}

.containerEditEducation {
  display: flex;
  justify-content: center;
}

.containerEditEducation > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  cursor: pointer;
}
.containerEditEducation > span > p {
  font-size: 25px;
  display: block;
}

.containerEditEducation > span > fa-icon {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
.containerEditEducation > span:hover {
  transform: scale(1.2);
}
.windowsModalStartEdu,
.windowsModalStartEduAgregar {
  display: none;
  background: #baff43;
  max-width: 700px;
  padding: 15px 10px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.windowsModalStartEdu.active,
.backgroundModalClose.active,
.windowsModalStartEduAgregar.active {
  display: block;
}
.closeModal {
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: -17px;
  right: -10px;
  background: #222;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  color: #baff43;
  text-align: center;
  cursor: pointer;
}
.windowsModalStartEdu > h2,
.windowsModalStartEduAgregar > h2 {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
form > div > label {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
label > img {
  max-width: 100%;
}

form > div > label > fa-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
label {
  font-weight: 600;
  margin-top: 0.9375rem;
  display: flex;
  flex-direction: column;
}
input,
textarea,
select {
  padding: 0.3125rem;
  border: none;
  background: #222;
  color: #fff;
}
/* textarea {
  min-width: 258px;
  max-width: 258px;
  min-height: 58px;
  max-height: 58px;
} */
input::placeholder,
select,
textarea::placeholder {
  color: #aaa;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
.btnSubmit {
  margin-top: 25px;
  font-weight: 600;
  color: #baff43;
  padding: 10px 0;
}
.eliminarEstudio {
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  background: rgb(245, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  z-index: 2;
}
.eliminarEstudio:hover{
  background: rgb(255, 255, 255);
  color: rgb(245, 0, 0);
}
.editarEstudio {
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  background: rgb(0, 97, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: -5px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
}
.editarEstudio:hover{
  background: rgb(255, 255, 255);
  color:  rgb(0, 97, 224);
}
@media (min-width: 768px) {
  .windowsModalStartEdu,
  .windowsModalStartEduAgregar {
    max-width: 500px;
    max-height: 500px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .sectionEducation {
    padding: 2.5rem 2rem;
  }
  article {
    margin: 3rem 1.5625rem;
    padding: 1.5rem 0.3125rem;
    position: relative;
    box-shadow: 0 0 15px #000;
  }
  h4 {
    text-align: start;
    margin-left: 20px;
    margin-bottom: 17px;
  }
  li {
    font-size: 20px;
    font-weight: 600;
  }
  .imgLogoDesktop {
    display: block;
    position: absolute;
    width: 150px;
    max-height: 150px;
    object-fit: contain;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 50px;
  }
}
@media (min-width: 1024px) {
  .sectionEducation {
    padding: 4rem 2rem;
  }
  h3 {
    font-size: 30px;
  }
  .imgLogoDesktop {
    width: 200px;
  }
  h4 {
    font-size: 25px;
  }
  li {
    font-size: 22px;
  }
}
@media (min-width: 1250px) {
  .containerSectionEdu {
    background: #fff;
  }
  .sectionEducation {
    padding: 6rem 2rem;
    max-width: 1250px;
    margin: auto;
  }
  h3 {
    font-size: 38px;
    margin-bottom: 3.75rem;
  }
  .imgLogoDesktop {
    width: 250px;
  }
  h4 {
    font-size: 28px;
  }
  ul {
    padding-left: 3.125rem;
  }
  li {
    font-size: 24px;
  }
  article {
    margin: 5rem 1.5625rem;
  }
}
