<div class="containerSectionEdu">
  <section class="sectionEducation">
    <h3>EDUCACION</h3>
    <article *ngFor="let estudio of listaEstudiosPersonas">
      <span class="eliminarEstudio" (click)="eliminarEstudioPersona(estudio.idPersonasEstudios)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </span>
      <span class="editarEstudio">
        <fa-icon [icon]="faPen"></fa-icon>
      </span>
      <h4>{{estudio.educacionesByIdInstituto.tituloInstituto}}</h4>
      <ul>
        <li>- {{estudio.educacionesByIdInstituto.nombreInstituto}}</li>
        <li>- {{estudio.anioInicio}} {{estudio.anioFinal==0||estudio.anioFinal==estudio.anioInicio?"":(" - " + estudio.anioFinal)}}</li>
      </ul>
      <img class="imgLogoDesktop" src={{estudio.educacionesByIdInstituto.logo}} alt="" />
    </article>    
  </section>

  <div class="containerEditEducation">
    <span (click)="activeModal('crearEducacion')">
      <fa-icon [icon]="faPlusEdu"></fa-icon>
      <p>Crear Educacion</p>
    </span>
    <span (click)="activeModal('agregarEducacion')">
      <fa-icon [icon]="faCheckEdu"></fa-icon>
      <p>Agregar Educacion</p>
    </span>
  </div>
</div>
