<div class="containerSectionEdu">
  <section class="sectionEducation">
    <h3>EDUCACION</h3>
    <article *ngFor="let estudio of listaEstudiosPersonas">
      <h4>{{estudio.educacionesByIdInstituto.tituloInstituto}}</h4>
      <ul>
        <li>- {{estudio.educacionesByIdInstituto.nombreInstituto}}</li>
        <li>- {{estudio.anioInicio}} {{estudio.anioFinal==0||estudio.anioFinal==estudio.anioInicio?"":(" - " + estudio.anioFinal)}}</li>
      </ul>
      <img class="imgLogoDesktop" src={{estudio.educacionesByIdInstituto.logo}} alt="" />
    </article>    
  </section>

  <div class="containerEditEducation">
    <span (click)="activeModalEdu()">
      <fa-icon [icon]="faPlusEdu"></fa-icon>
      <p>Crear Educacion</p>
    </span>
    <span (click)="activeModalEduAgregar()">
      <fa-icon [icon]="faCheckEdu"></fa-icon>
      <p>Agregar Educacion</p>
    </span>
  </div>
  <article class="windowsModalStartEdu">
    <h2>AGREGAR ESTUDIO</h2>
    <span class="closeModal" (click)="activeModalEdu()">X</span>
    <form action="" [formGroup]="formData">
      <label for="">
        Nombre
        <input formControlName="nombre" type="text" />
      </label>
      <label for="">
        Titulo
        <input formControlName="titulo" type="text" />
      </label>
      <div>
        <label for="imgLogoEducacion">
          Logo
          <fa-icon
            *ngIf="imgUrlLogo == ''; else imgUrlLogoElse"
            [icon]="faPlusEdu"
          ></fa-icon>
          <ng-template #imgUrlLogoElse>
            <img class="imgUrlLogo" [src]="imgUrlLogo" alt="" />
          </ng-template>
        </label>
        <input
          (change)="mostrarImagen($event)"
          type="file"
          formControlName="logo"
          name="imgLogoEducacion"
          id="imgLogoEducacion"
          hidden
        />
      </div>

      <input
        (click)="agregarEducacion()"
        type="button"
        class="btnSubmit"
        value="EDITAR"
      />
    </form>
  </article>

  <article class="windowsModalStartEduAgregar">
    <h2>AGREGAR ESTUDIO</h2>
    <span class="closeModal" (click)="activeModalEduAgregar()">X</span>
    <form action="" [formGroup]="formDataAgregar">
      <label for="">
        SELECCIONAR CARRERA
        <select formControlName="instituto" (change)="selectValor($event.target)">
          <ng-container *ngIf="listaEdu != null">
            <option
            *ngFor="let educacion of listaEdu"
              [value]="educacion.idInstituto"
            >
              {{ educacion.nombreInstituto + " - " + educacion.tituloInstituto }}
            </option>
          </ng-container>
        </select>
      </label>
      <label for="">
        Año inicio
        <input formControlName="anioInicio" type="text" />
      </label>
      <label for="">
        Año final
        <input formControlName="anioFinal" type="text" />
      </label>
      <input (click)="unirPersonaEdu()"  type="button" class="btnSubmit" value="EDITAR" />
    </form>
  </article>
</div>
