<div class="windowModal">
  <article class="modalPrueba">
    <span class="closeModal" (click)="activeModal()">X</span>
    <main  [ngSwitch]="valorModal" >
      <app-start-modal (datosPersonaEmit)="guardarDato($event)" [valorModal]="valorModal" *ngSwitchCase="'start'"></app-start-modal>
      <app-education-modal [valorModal]="valorModal" *ngSwitchCase="'crearEducacion'"></app-education-modal>
      <app-education-modal [valorModal]="valorModal" *ngSwitchCase="'agregarEducacion'"></app-education-modal>
      <app-education-modal [valorModal]="valorModal" [estudioEliminar]="estudioEliminar" *ngSwitchCase="'eliminarEducacion'"></app-education-modal>
      <app-skill-modal [valorModal]="valorModal" *ngSwitchCase="'crearHabilidad'"></app-skill-modal>
      <app-skill-modal [valorModal]="valorModal" *ngSwitchCase="'agregarHabilidad'"></app-skill-modal>
      <app-projects-modal [valorModal]="valorModal" *ngSwitchCase="'agregarProyecto'"></app-projects-modal>
    </main>
    
  </article>
</div>

<div class="backgroundModalClose" (click)="activeModal()"></div>
