<div *ngIf="valorModal == 'agregarHabilidad' else crearHabilidad ">
  <h2>AGREGAR habilidad</h2>
  <form action="" [formGroup]="formAgregarSkill">
    Habilidad
    <select name="" id="" (change)="selectValor($event.target)">
      <option>-- Seleccionar habilidad --</option>
      <option *ngFor="let skill of listSkills" [value]="skill.idHabilidad">
        {{ skill.nombre }}
      </option>
    </select>

    <label for="">
      Porcentaje de conocimiento
      <input type="text" formControlName="porcentaje" />
    </label>
  </form>
  <button class="btnSubmit">ENVIAR</button>
</div>
<ng-template #crearHabilidad>
  <h2>CREAR HABILIDAD</h2>
  <form action="" [formGroup]="formData">
    <label for="">
      Nombre
      <input formControlName="nombre" type="text" />
    </label>
    <div>
      <label for="logo">
        Imagen
        <fa-icon
          *ngIf="imgUrlPerfil == ''; else imgPerfil"
          [icon]="faPlus"
        ></fa-icon>
        <ng-template #imgPerfil>
          <img class="imgUrlPerfil" [src]="imgUrlPerfil" alt="" />
        </ng-template>
      </label>
      <input
        (change)="mostrarImagen($event, 'logo')"
        formControlName="logo"
        type="file"
        id="logo"
      />
    </div>
  </form>
  <button [disabled]="disabled" class="btnSubmit">ENVIAR</button>
</ng-template>
