<header>
  <nav>
    <a routerLink="/">  <img class="logoNavBar" src="../../../assets/img/NICA (2).png" alt=""></a>
    <span class="dropMenu">
      <ul>
        <li> <a href="#inicio"> INICIO</a></li>
        <li> <a href="#educacion"> EDUCACION</a></li>
        <li> <a href="#skills">SKILLS</a> </li>
        <li> <a href="#proyectos">PROYECTOS</a> </li>
        <li> <a href="#contacto">CONTACTO</a> </li>
      </ul>
      <a *ngIf="usuario ; else elseSession" (click)="cerrarSesion()">CERRAR SESION</a>
      <ng-template #elseSession><a routerLink="login">INICIAR SESION</a></ng-template>
    </span>
    <fa-icon  [icon]="faBars" (click)="activeMenu()"></fa-icon>
  </nav>
</header>
