<header>
  <nav>
    <img class="logoNavBar" src="../../../assets/img/NICA (2).png" alt="">
    <span class="dropMenu">
      <ul>
        <li> <a href="#inicio"> INICIO</a></li>
        <li> <a href="#educacion"> EDUCACION</a></li>
        <li> <a href="#skills">SKILLS</a> </li>
        <li> <a href="#proyectos">PROYECTOS</a> </li>
        <li> <a href="#contacto">CONTACTO</a> </li>
      </ul>
      <a routerLink="login" *ngIf="usuario ; else elseSession">CERRAR SESION</a>
      <ng-template #elseSession><a routerLink="login">INICIAR SESION</a></ng-template>
    </span>
    <fa-icon  [icon]="faBars" (click)="activeMenu()"></fa-icon>
  </nav>
</header>
