h2 {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
}
form::-webkit-scrollbar {
  background-color:rgba(0, 0, 0, 0.171);
  width:5px;
  border-radius: 100px;
}
form::-webkit-scrollbar-thumb {
  background-color:rgb(54, 54, 54);
  border-radius: 100px;
}
form > div > label {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
label > img {
  max-width: 50%;
}

form > div > label > fa-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
label {
  font-weight: 600;
  margin-top: 0.9375rem;
  display: flex;
  flex-direction: column;
}
input,
textarea,
select {
  padding: 0.3125rem;
  border: none;
  background: #222;
  color: #fff;
}
/* textarea {
    min-width: 258px;
    max-width: 258px;
    min-height: 58px;
    max-height: 58px;
  } */
input::placeholder,
select,
textarea::placeholder {
  color: #aaa;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
.btnSubmit {
  margin: 0 auto;
  font-weight: 600;
  color: #baff43;
  padding: 10px 0;
  width: 90%;
  background: #222;
  border: none;
  cursor: pointer;
}
.btnSubmit.disabled {
  color: #baff4363;
  padding: 10px 0;
  width: 90%;
  background: rgb(95, 95, 95);
  border: none;
  cursor: not-allowed;
}
.containerBtnEnviar{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -90px;
  right: 0;
  left: 0;
  padding-top: 10px;
  margin: auto;
}
.containerSpinner{
  display: flex;
  align-items: center;
  margin-top: 10px;
  
}
p{
  text-align: center;
  margin: auto 0 auto 10px;
  font-weight: 500;
}
.spinner-border.disabled{
  display: none;
}
.containerBtnYesNo{
  display: flex;
  margin-top: 34px;
  margin-bottom: -87px;
}
.containerBtnYesNo>button{
  margin: 5px;
}
.containerBtnYesNo>.btnNo:hover{
  background: rgb(29, 23, 80);
}
.containerBtnYesNo>.btnSi:hover{
  background: rgb(80, 23, 23);
}