<div *ngIf="valorModal == 'crearEducacion' ">
  <h2>CREAR ESTUDIO</h2>
  <form action="" [formGroup]="formData">
    <label for="">
      Nombre
      <input formControlName="nombre" type="text" />
    </label>
    <label for="">
      Titulo
      <input formControlName="titulo" type="text" />
    </label>
    <div>
      <label for="imgLogoEducacion">
        Logo
        <fa-icon
          *ngIf="imgUrlLogo == ''; else imgUrlLogoElse"
          [icon]="faPlusEdu"
        ></fa-icon>
        <ng-template #imgUrlLogoElse>
          <img class="imgUrlLogo" [src]="imgUrlLogo" alt="" />
        </ng-template>
      </label>
      <input
        (change)="mostrarImagen($event)"
        type="file"
        formControlName="logo"
        name="imgLogoEducacion"
        id="imgLogoEducacion"
        hidden
      />
    </div>
  </form>
  <button class="btnSubmit">ENVIAR</button>
</div>
<div *ngIf="valorModal == 'agregarEducacion' ">
  <h2>AGREGAR ESTUDIO</h2>
    <form action="" [formGroup]="formDataAgregar">
      <label for="">
        SELECCIONAR CARRERA
        <select formControlName="instituto" (change)="selectValor($event.target)">
          <ng-container *ngIf="listaEdu != null">
            <option
            *ngFor="let educacion of listaEdu"
              [value]="educacion.idInstituto"
            >
              {{ educacion.nombreInstituto + " - " + educacion.tituloInstituto }}
            </option>
          </ng-container>
        </select>
      </label>
      <label for="">
        Año inicio
        <input formControlName="anioInicio" type="text" />
      </label>
      <label for="">
        Año final
        <input formControlName="anioFinal" type="text" />
      </label>
    </form>
    <button [disabled]="disabled" class="btnSubmit">ENVIAR</button>
</div>