<div *ngIf="valorModal == 'start'">
  <h2>EDITAR INFO PERSONAL</h2>

  <form [formGroup]="formData">
    <div>
      <label for="">
        Nombre
        <input
          formControlName="nombre"
          type="text"
          (change)="datosPersonales()"
        />
      </label>
      <label for="">
        Apellido
        <input formControlName="apellido" type="text" />
      </label>
    </div>

    <label for="">
      Profesion
      <input type="text" formControlName="profesion" />
    </label>
    <div>
      <label for="">
        Ciudad
        <input type="text" formControlName="ciudad" />
      </label>
      <label for="">
        Pais
        <input type="text" formControlName="pais" />
      </label>
    </div>

    <label for="">
      Descripcion
      <textarea type="text" formControlName="descripcion"> </textarea>
    </label>
    <div>
      <label for="imgPerfilInput">
        Imagen Perfil
        <fa-icon
          *ngIf="imgUrlPerfil == ''; else imgPerfil"
          [icon]="faPlus"
        ></fa-icon>
        <ng-template #imgPerfil>
          <img class="imgUrlPerfil" [src]="imgUrlPerfil" alt="" />
        </ng-template>
      </label>
      <input
        (change)="mostrarImagen($event, 'perfil')"
        id="imgPerfilInput"
        type="file"
        name="imgPerfilInput"
        hidden
      />
      <label for="imgBannerDesktopInput">
        Imagen Banner Escitorio
        <fa-icon
          *ngIf="imgUrlBannerD == ''; else imgBannerD"
          [icon]="faPlus"
        ></fa-icon>
        <ng-template #imgBannerD>
          <img class="imgUrlBannerD" [src]="imgUrlBannerD" alt="" />
        </ng-template>
      </label>

      <input
        (change)="mostrarImagen($event, 'bannerDes')"
        type="file"
        name="imgBannerDesktopInput"
        id="imgBannerDesktopInput"
        hidden
      />
      <label for="imgBannerMobileInput">
        Imagen Banner Celular
        <fa-icon
          *ngIf="imgUrlBannerM == ''; else imgBannerM"
          [icon]="faPlus"
        ></fa-icon>
        <ng-template #imgBannerM>
          <img class="imgUrlBannerM" [src]="imgUrlBannerM" alt="" />
        </ng-template>
      </label>
      <input
        (change)="mostrarImagen($event, 'bannerM')"
        type="file"
        name="imgBannerMobileInput"
        id="imgBannerMobileInput"
        hidden
      />

      <label for="imgLogo">
        Imagen Logo
        <fa-icon
          *ngIf="imgUrlLogo == ''; else imgUrlLogoElse"
          [icon]="faPlus"
        ></fa-icon>
        <ng-template #imgUrlLogoElse>
          <img class="imgUrlLogo" [src]="imgUrlLogo" alt="" />
        </ng-template>
      </label>
      <input
        (change)="mostrarImagen($event, 'logo')"
        type="file"
        name="imgLogo"
        id="imgLogo"
        hidden
      />
    </div>
    <label for="">
      Email
      <input type="text" formControlName="email" />
    </label>
    <div>
      <label for="">
        Linkedin
        <input type="text" formControlName="linkedin" />
      </label>
      <label for="">
        Github
        <input type="text" formControlName="github" />
      </label>
    </div>
  </form>
  <div class="containerBtnEnviar">
    <button class="btnSubmit" [disabled]="disabled" (click)="datosPersonales()" >ENVIAR</button>
    <div class="containerSpinner">
      <div class="spinner-border spinnerEnviar disabled"  role="status"></div>
      <p [innerHTML]="mensajeFinalizado"></p>
    </div>
  </div>
</div>
