<div class="containerStart" *ngIf="personaLoged">
  <img class="bannerStart" src={{personaLoged.imgBannerM}} alt="" />
  <img class="bannerStartDesktop" src={{personaLoged.imgBanner}} alt="" onerror="this.onerror=null;this.src='../../../../assets/img/bg-black.jpg'" />
  <article>
    <span (click)="activeModal()" class="editarInfo">
      <fa-icon [icon]="faPen"></fa-icon>
    </span>
    <img class="imgProfile" src={{personaLoged.imgPerfil}} alt="" />
    <img class="imgProfileDesktop" src={{personaLoged.imgPerfil}} alt="" />
    <div class="containerInfoStart">
      <section class="containerShortData">
        <h2>{{personaLoged.nombre + ", " + personaLoged.apellido}}</h2>
        <p>{{personaLoged.ciudad + ", " + personaLoged.pais}}.</p>
      </section>
      <section class="containerDataStart">
        <h1 class="txtTitle">{{arrPersonaProfesion[0]}} <span> {{arrPersonaProfesion[1]}}</span>{{arrPersonaProfesion[2]}}</h1>
        <p class="containerDescriptionStart" [innerHTML]="personaLoged.descripcion" ></p>
      </section>
    </div>
  </article>
</div>
