<div class="containerStart">
    <img class="bannerStart" src="../../../assets/img/DESARROLLADOR FULL STACK (1).png" alt="">
    <img class="bannerStartDesktop" src="../../../assets/img/DESARROLLADOR FULL STACK.png" alt="">
    <article>
        <span (click)="activeModal()" class="editarInfo" *ngIf="adminEdit"> <fa-icon [icon]="faPen"></fa-icon></span> 
        <img class="imgProfile"  src="../../../assets/img/Diseño sin título.png" alt="">
        <img class="imgProfileDesktop"  src="../../../assets/img/Diseño sin título.png" alt="">
        <div class="containerInfoStart">
            <section class="containerShortData">
                <h2>NICANOR MOYANO FUNES </h2>
                <p>
                    Córdoba, Argentina.
                </p>
            </section>
            <section class="containerDataStart">
                <h1 class="txtTitle">DESARROLLADOR <span> FULL STACK Jr</span>.</h1>
                <p>
                   <span> 👦 </span>  ¡Hola! Soy Nica, un aficionado por la programacion. <br> <br>
                    <span> 📕 </span>   Estudio Programacion en la UTN y participe del bootcamp Argentina Programa <br> <br>
                    <span> 💻 </span>   Soy una persona dispuesta a aprender nuevas tecnologias y  afianzar mis conocimientos
                </p>
            </section>
        </div>
    </article>
</div>

<div class="backgroundModalClose" (click)="activeModal()"></div>
<article class="windowsModalStart">
    <h2>Editar info personal</h2>
    <span class="closeModal" (click)="activeModal()">X</span>
    <form action="" [formGroup]="formData">
        <label for="">
            Nombre
            <input formControlName="nombre" type="text">
        </label>
        <label for="">
            Apellido
            <input  formControlName="apellido" type="text">
        </label>
        <label for="">
            Profesion
            <input type="text"  formControlName="profesion">
        </label>
        <label for="">
            Ciudad
            <input type="text"  formControlName="ciudad">
        </label>
        <label for="">
            Pais
            <input type="text"  formControlName="pais">
        </label>
        <label for="">
            Descripcion
            <textarea type="text"  formControlName="descripcion"> </textarea>

        </label>
        <label for="">
            <input type="file" formControlName="imgPerfil" name="" id="">
        </label>
    </form>
    <button (click)="datosPersonales()" class="btnSubmit">ENVIAR</button>
</article>