.bannerStart {
  width: 100vw;
}
.bannerStartDesktop{
  display: none;
}
.imgProfileDesktop{
  display: none;
}
.imgProfile {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 9.375rem;
  position: absolute;
  top: -4.6875rem;
  right: 0;
  left: 0;
  margin: auto;
  border: 7px solid rgb(52, 5, 120) ;
}
article {
  position: relative;
  padding-top: 6.25rem;
}
.containerShortData > h2{
  text-transform: uppercase;
}
.containerShortData > h2,
.containerShortData > p {
  position: relative;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.txtTitle {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
}
.txtTitle > span {
  background: rgb(52, 5, 120);
  background: linear-gradient(
    319deg,
    rgb(100, 9, 226) 29%,
    rgba(143, 46, 163, 1) 63%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.containerDataStart>p{
  padding: 1.5625rem;
  color: #bbb;
}
.containerDataStart>p>span{
  padding-right: .54125rem;
}
.editarInfo{
  font-size: 16px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  background: rgb(45, 151, 3);
  position: absolute;
  top: 0px;
  color: #fff;
  right: 10px;
  margin: auto;
  cursor: pointer;
}
.editarInfo:hover{
  background: rgb(57, 199, 1);
  transform: scale(1.1);
}
.windowsModalStart {
  display: none;
  background: #baff43;
  max-width: 700px;
  height: 100vh;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.windowsModalStart.active, .backgroundModalClose.active{
  display: block;
}
.closeModal{
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: -17px;
  right: -10px;
  background: #222;
  width: 40px;
  height: 40px;
  border-radius:30px ;
  color: #baff43;
  text-align: center;
  cursor: pointer;
}
.backgroundModalClose{  
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 499;
  backdrop-filter: blur(5px);
}
.windowsModalStart>h2{
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  
}
form {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: scroll;
}
form::-webkit-scrollbar{
  display: none;
}
form>div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap:20px ;
}
form>div>label{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

form>div>label>fa-icon{
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
label>img{
  max-width: 100%;
}
label {
  font-weight: 600;
  margin-top: 0.9375rem;
  display: flex;
  flex-direction: column;
}
input,
textarea {
  width: 100%;
  padding: 0.3125rem;
  border: none;
  background: #222;
  color: #fff;
}
/* textarea {
  min-width: 258px;
  max-width: 258px;
  min-height: 58px;
  max-height: 58px;
} */
input::placeholder,
textarea::placeholder {
  color: #aaa;
}
input:focus,
textarea:focus {
  outline: none;
}
.imgUrlPerfil{
  max-width: 160px;
  object-fit: cover;
  border-radius: 100%;
}
.imgUrlBannerD, .imgUrlBannerM{
  width: 330px;
  height: 100px;
  object-fit: cover;
}
.btnSubmit {
  margin-top: 25px;
  font-weight: 600;
  color: #baff43;
  padding: 10px 0;
  width: 100%;
  background: #222;
  border: none;
}
.containerSpiner {
  align-items: center;
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  display: none;
}
.spinner-border {
  width: 18px;
  height: 18px;
}
.containerSpiner > p {
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.containerMsgSend {
  display: none;
  align-items: center;
  margin-top: 1.25rem !important;
  margin-left: 0.625rem;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.containerMsgSend > span {
  color: rgb(50, 214, 0);
  margin-right: 0.625rem;
}
.containerMsgError {
  display: none;
  align-items: center;
  margin-top: 1.25rem !important;
  margin-left: 0.625rem;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 600;
}
.containerMsgError > span {
  margin-right: 0.3rem;
}
@media (min-width:400px) {
  form{
    height: 550px;
  }
  .windowsModalStart{
    top: 0;
    bottom: 0;
    margin: auto;
    height: 700px;
  }
}
@media (min-width:767px) {
  .editarInfo{
    font-size: 22px;
    width: 42px;
    height: 42px;
    top: -21px;
    right: 70px;
  }

  .bannerStartDesktop{
    display: block;
    width: 100vw;
  }
  .bannerStart{
    display: none;
  }
  .imgProfile{
    display: none;
  }
  .imgProfileDesktop {
    display: block;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 9.375rem;
    position: absolute;
    top: -4.6875rem;
    left: 3.125rem;
    margin: auto;
    border: 7px solid rgb(52, 5, 120) ;
  }
  article{
    padding-top: 4.6875rem;
  }
  .containerInfoStart{
    display: flex;
    padding: 20px;
  }
  .containerShortData{
    margin-right: .9375rem;
  }
  .containerShortData>h2{
    font-size: 20px;
  }
}
@media (min-width:1024px) {
  .editarInfo{
    font-size: 26px;
    width: 52px;
    height: 52px;
    top: -26px;
    right: 120px;
  }
  .bannerStartDesktop{
    max-height: 576px;
    object-fit: cover;
  }
  .containerInfoStart{
    display: flex;
    justify-content: space-between;
  }

  .imgProfileDesktop {
    left:6rem;
  }
  .containerInfoStart>p{
    font-size: 17px;
  }
  .containerShortData>h2{
    font-size: 25px;
  }
  .containerShortData>p{
    font-size: 18px;
  }
  .txtTitle{
    font-size: 30px;
    text-align: start;
    margin-left: 10px;
  }
}
@media (min-width:1250px) {

  article{
    max-width: 1250px;
    margin: auto;
    margin-bottom:2rem;
  }
  .imgProfileDesktop {
    width: 10rem;
    height: 10rem;
    border-radius: 9.375rem;
    position: absolute;
    top: -5.2rem;
    left:9rem;
  }
  .containerInfoStart{
    display: flex;
    justify-content: space-between;
  }

  .containerInfoStart>p{
    font-size: 21px;
  }
  .containerShortData>h2{
    font-size: 28px;
    margin-top: 4px;
  }
  .containerShortData>p{
    font-size: 19px;
  }
  .txtTitle{
    font-size: 38px;
    margin-top: -10px;
  }

}