<section>
  <h3>HABILIDADES</h3>
  <div class="containFigSkills">
    <figure *ngFor="let skillPersona of listSkillPersona">
      <div class="bg">
        <span class="eliminarHabilidad" (click)="eliminarHabPersona(skillPersona.idPerHab)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </span>
        <div class="circle-right">
          <div class="mask-right" [ngStyle]="{'transform':'rotate(' + (skillPersona.porcentaje>50?180:(skillPersona.porcentaje*180/50)) + 'deg)' }"></div>
        </div>
        <div class="circle-left">
          <div class="mask-left"[ngStyle]="{'transform':'rotate(' + (skillPersona.porcentaje>50?((skillPersona.porcentaje-50)*180/50):0) + 'deg)' }"></div>
        </div>
        <div class="imgProgress">
          <img src={{skillPersona.habilidadesByIdHabilidad.logo}} alt="" />
        </div>
      </div>
      <figcaption>{{skillPersona.habilidadesByIdHabilidad.nombre}}</figcaption>
    </figure>
    <div class="addHabilidad" (click)="activeModal('agregarHabilidad')">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
  </div>
  
  <div class="crearHabilidad">
    <fa-icon [icon]="faPlus" (click)="activeModal('crearHabilidad')"></fa-icon>
    <p (click)="activeModal('crearHabilidad')">CREAR HABILIDAD</p>
  </div>
</section>
