<div class="containerSectionProject">
<section>
    <h3>MIS PROYECTOS</h3>
    <div class="containerItemsProject">
        <article>
            <h4>Pelis-Api</h4>
            <figure>
                <img src="../../../assets/img/peli-api.bmp" alt="">
                <figcaption>
                    <ul>
                        <li><img src="../../../assets/img/react.png" alt=""> </li>
                        <li><img src="../../../assets/img/nextjs.png" alt=""></li>
                        <li><img src="../../../assets/img/tailwind-css.svg" alt=""></li>
                    </ul>
                    <button> GitHub <fa-icon [icon]="github"></fa-icon> </button>
                </figcaption>
            </figure>
        </article>
        <article>
            <h4>Pelis-Api</h4>
            <figure>
                <img src="../../../assets/img/peli-api.bmp" alt="">
                <figcaption>
                    <ul>
                        <li><img src="../../../assets/img/react.png" alt=""> </li>
                        <li><img src="../../../assets/img/nextjs.png" alt=""></li>
                        <li><img src="../../../assets/img/tailwind-css.svg" alt=""></li>
                    </ul>
                    <button> GitHub <fa-icon [icon]="github"></fa-icon> </button>
                </figcaption>
            </figure>
        </article>
        <article>
            <h4>Pelis-Api</h4>
            <figure>
                <img src="../../../assets/img/peli-api.bmp" alt="">
                <figcaption>
                    <ul>
                        <li><img src="../../../assets/img/react.png" alt=""> </li>
                        <li><img src="../../../assets/img/nextjs.png" alt=""></li>
                        <li><img src="../../../assets/img/tailwind-css.svg" alt=""></li>
                    </ul>
                    <button> GitHub <fa-icon [icon]="github"></fa-icon> </button>
                </figcaption>
            </figure>
        </article>
        <article>
            <h4>Pelis-Api</h4>
            <figure>
                <img src="../../../assets/img/peli-api.bmp" alt="">
                <figcaption>
                    <ul>
                        <li><img src="../../../assets/img/react.png" alt=""> </li>
                        <li><img src="../../../assets/img/nextjs.png" alt=""></li>
                        <li><img src="../../../assets/img/tailwind-css.svg" alt=""></li>
                    </ul>
                    <button> GitHub <fa-icon [icon]="github"></fa-icon> </button>
                </figcaption>
            </figure>
        </article>
        <article>
            <h4>Pelis-Api</h4>
            <figure>
                <img src="../../../assets/img/peli-api.bmp" alt="">
                <figcaption>
                    <ul>
                        <li><img src="../../../assets/img/react.png" alt=""> </li>
                        <li><img src="../../../assets/img/nextjs.png" alt=""></li>
                        <li><img src="../../../assets/img/tailwind-css.svg" alt=""></li>
                    </ul>
                    <button> GitHub <fa-icon [icon]="github"></fa-icon> </button>
                </figcaption>
            </figure>
        </article>
    </div>
</section>
</div>