<div class="containerSectionProject">
  <section>
    <h3>MIS PROYECTOS</h3>
    <div class="containerItemsProject">
      <article *ngFor="let proyecto of listaProyectosFinal">
        <h4>{{ proyecto.nombre }}</h4>
        <figure>
          <img src="{{ proyecto.imgProyecto }}" alt="" />
          <figcaption>
            <ul>
              <li *ngFor="let habilidad of proyecto.habilidades">
                <img src="{{ habilidad.logo }}" alt="" />
              </li>
            </ul>
            <div>
              <a href="{{ proyecto.linkGithub }}" target="_blank">
                <button>GitHub <fa-icon [icon]="github"></fa-icon></button
              ></a>
              <a >
                <button class="btnEliminar" (click)="eliminarProyecto(proyecto.idProyecto)">
                  Eliminar <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </a>
            </div>
          </figcaption>
        </figure>
      </article>
      <div class="agregarProyecto" (click)="activeModal('agregarProyecto')">
        <h5>AGREGAR PROYECTO</h5>
        <span>
          <fa-icon [icon]="faPlus"></fa-icon>
        </span>
      </div>
    </div>
  </section>
</div>
