<div class="containerSectionEdu">
  <section class="sectionEducation">
  <h3>EDUCACION</h3>
  <article>        
      <h4>TECNICATURA EN PROGRAMACION</h4>
    <ul>
        <li>
            - UTN FRC
        </li>
        <li>
           -  (2022 - )
        </li>
    </ul>
    <img class="imgLogoDesktop" src="../../../assets/img/utn.png" alt="">
  </article>
  <article>
      <h4>Argentina Programa</h4>
    <ul>
        <li>
           -  INTI
        </li>
        <li>
          -   2022
        </li>
    </ul>
    <img class="imgLogoDesktop" src="../../../assets/img/argprog.png" alt="">
  </article>
</section>
</div>

