<div class="containerSectionEdu" id="educacion">
  <section class="sectionEducation">
    <h3>EDUCACION</h3>
    <article *ngFor="let estudio of listEstudios">
      <h4>{{ estudio.educacionesByIdInstituto.tituloInstituto }}</h4>
      <ul>
        <li>- {{ estudio.educacionesByIdInstituto.nombreInstituto }}</li>
        <li
          *ngIf="
            estudio.anioFinal <= estudio.anioInicio ;
            else mismoAnio
          "
        >
          - {{ estudio.anioInicio }}
        </li>
        <ng-template #mismoAnio>
          <li>- ({{ estudio.anioInicio }} - {{ estudio.anioFinal }})</li>
        </ng-template>
      </ul>
      <img
        class="imgLogoDesktop"
        src="{{ estudio.educacionesByIdInstituto.logo }}"
        alt=""
      />
    </article>
  </section>
</div>
