<section id="skills">
  <h3>HABILIDADES</h3>
  <div class="containFigSkills">
    <figure *ngFor="let habilidad of habilidadesPorPersona">
        <div class="bg">
            <div class="circle-right">
                <div class="mask-right" style="transform: rotate(180deg);"></div></div>
            <div class="circle-left">
                <div class="mask-left" style="transform: rotate(180deg);"></div>
            </div>
            <div  class="imgProgress" >
                <img src={{habilidad.habilidadesByIdHabilidad.logo}} alt="" />
            </div>
        </div>
      <figcaption>{{habilidad.habilidadesByIdHabilidad.nombre}}</figcaption>
    </figure>
    

  </div>
</section>
